@import '../partials/colors';
@import '../partials/functions';

.partners {
    padding: 0 0 rem(269) 0;

    h2 {
        padding: rem(132) 0 rem(64) rem(157);
    }
    .partners-logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 rem(157);

        .partner-logo-1 {
            height: rem(106);
        }
        .partner-logo-2{
            height: rem(44);
        }
        .partner-logo-3 {
            height: rem(59);
        }
        .partner-logo-4 {
            height: rem(64);
        }
        .partner-logo-5 {
            height: rem(62);
        }
        .partner-logo-6 {
            height: rem(74);
        }
    }

}